<div class="overflow-x-auto absolute top-3 right-0" style="width: 75vw">
  <button class="text-blue-400 font-bold" (click)="approvedStuds()">refresh🔃</button>
  <table class="w-full text-sm text-left">
    <thead class="text-xs text-gray-500 uppercase bg-gray-50">
      <tr>
        <th class="px-4 py-3 rounded-l-lg">ID</th>
        <th class="px-4 py-3">Name</th>
        <th class="px-4 py-3">Program</th>
        <th class="px-4 py-3">email</th>
        <th class="px-4 py-3">Change Sem</th>
        <th class="px-4 py-3">Assign Section</th>
        <th class="px-4 py-3">Status</th>
        <th class="px-4 py-3 rounded-r-lg">Actions</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-100">
      @for (student of allStudents ; track $index) {
      <tr class="hover:bg-gray-50 transition-colors">
        <td class="px-4 py-3 font-medium">{{ student.id }}</td>
        <td class="px-4 py-3">{{ student.fullName }}</td>
        <td class="px-4 py-3">{{ student.program }}</td>
        <td class="px-4 py-3">{{ student.email }}</td>
        <td class="px-4 py-3">
          <select (change)="setSemester(student.id)" [(ngModel)]="semVal" class="outline-none px-2">
            @for (item of semArr; track $index) {
            <option [value]="item">{{ item }}</option>
            }
          </select>
        </td>
        <td class="px-4 py-3">
          <select (change)="setSection(student.id)" [(ngModel)]="secVal" class="outline-none px-2">
            @for (item of sectionsArr; track $index) {
            <option [value]="item">{{ item }}</option>
            }
          </select>
        </td>

        <td class="px-4 py-3">
          <span class="px-2 py-1 bg-green-500 text-black-700 rounded text-xs font-bold">
            {{ student.status }}
          </span>
        </td>
        <td class="px-4 py-3">
          <div class="flex students-center gap-2">
            <button
              (click)="delete(student.id)"
              class="px-3 py-1 bg-red-50 border border-red-200 rounded cursor-pointer text-red-700 text-xs"
            >
              delete
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
